body {
  background-image: url("../assets/party/gallery/whitebackgound.jpeg");
  color: black;
  font-family: 'Spectral SC', serif;
  margin: 0;
}

@media (min-width: 780px) {
  body {
    margin: 0 6rem;
  }
}

a {
  text-decoration: none;
  background: none;
}

a:visited {
  color: black;
}

a:hover {
  color: rgba(173, 11, 11, 0.979);
}

ul {
  padding: 0;
}

h2 {
  background: white;
  font-family: 'MonteCarlo', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

@media (min-width: 320px) and (max-width: 780px) {
  h2 {
    margin: 0 2rem;
  }
}

@media (min-width: 320px) and (max-width: 1440px) {
  .navbar {
    background-image: url("../assets/party/gallery/bannernew.jpg");
    background-size: cover;
    height: 5rem;
    background-size: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: .5rem;
    margin: 0 2rem;
    padding-top: 2rem;
    background-color: white;
  }
}

@media (min-width: 780px) {
  .navbar {
    background-image: url("../assets/party/gallery/bannernew.jpg");
    background-size: cover;
    background-size: 65vw;
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25vh;
  }
}

.navlinks {
  font-size: .5rem;
  margin: .25rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 780px) {
  .navlinks {
    margin: 2rem;
  }
}

.link {
  text-decoration: underline;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  background-color: white;
  margin: 0 2rem;
}

/* Hide the images by default */
.mySlides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/*# sourceMappingURL=gallery.css.map */