body{
    background-image: url("../assets/party/gallery/whitebackgound.jpeg");  
    color:black;
    font-family: 'Spectral SC', serif;
    margin:0;   

    @media(min-width:780px){
        margin:0 6rem;
    }
   }

a{
    text-decoration: none;
    background: none;
}
a:visited {
    color: black;
  }
  
  a:hover {
    color: rgba(173, 11, 11, 0.979);
  }
  
  ul{
    padding: 0;
}

.navbar{

    @media(min-width:320px)and(max-width:1440px){
    background-image: url("../assets/party/gallery/bannernew.jpg");
    background-size: cover;
    height:10vh;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: .5rem;
    margin:0 2rem;
    padding-top: 2rem;
    background-color: white;}
  
    @media(min-width:780px)and(max-width:1440px){
        background-image: url("../assets/party/gallery/bannernew.jpg");
        background-size: cover;
        background-size: 65vw;
        background-position: center;
        background-repeat: no-repeat;
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 25vh;
    }
    
    @media(min-width: 1440px){
        margin:0;
        background-image: url("../assets/party/gallery/bannernew.jpg");
        background-size: cover;
        background-size: 65vw;
        background-position: center;
        background-repeat: no-repeat;
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 25vh;
    }
}
.navlinks{
    font-size: .5rem;
    margin:.25rem .5rem;
    display:flex;
    
    @media(min-width:780px){
        margin:2rem;
    }
    //@media(min-width:1440px){
       // margin:2rem;
    //}
}


.link{
  
    text-decoration: underline; 

}

main{
    background-color: white;
    margin: 0 2rem;
    padding: 1rem 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main__pic{

    @media(min-width:1440px){
        background-image: url("../assets/party/gallery/IMG_6559.JPG");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;   
        height:65vh;
        width: 60vw;
        display:flex;
        margin:0;
        align-items: center;
        justify-content: center;
         
    }

    @media(min-width:780px)and (max-width:1440px){
    background-image: url("../assets/party/gallery/IMG_6559.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    height:65vh;
    width: 60vw;
    display:flex;
    align-items: center;
    justify-content: center;
    }

    @media(min-width:320px) and (max-width:780px) {
    background-image: url("../assets/party/gallery/IMG_6559.JPG");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;
    width:80vw;
    display:flex; 
    justify-content: center;
 
    }

}

.main__proposal{
        @media(min-width:320px) and (max-width:780px){
        max-width: 95vw;
        margin:0rem;
        padding:0rem;
        display:flex;
        align-content: center;
        justify-content: center;
        
    }

    @media(min-width:780px) and (max-width:1440px){
        display:flex;
        align-content: center;
       flex-direction: column;
        justify-content:center;
        max-width: 65vw;
        margin:0;
    }
}

.countdown{
    display: flex;
    justify-content: center;
    background-color: White;
    font-family: 'MonteCarlo', cursive;
    display: flex;
    justify-content: center;
    background-color: White;
    margin:0rem;
    @media(min-width:320px) and (max-width:780px){
        display: flex;
        justify-content: center;
        background-color: White;
        margin:0;
        padding-top:1rem;
        font-size: 1.35rem;
        }
}
    

#countdown{

    @media(min-width:320)and(max-width:780px){
    display: flex;
    justify-content: center;
    background-color: White;
    margin:0;
    }

    @media(min-width:780px){
    display: flex;
    justify-content: center;
    background-color: White;
    margin:0;
    font-size: 2vh;
    padding-bottom: 2rem;
    }
}


