@use "../styles/_global.scss" as *;

.link {
  text-decoration: underline;
}

.question {
  font-weight: bolder;
}

.h2 {
  background: white;
  font-family: "MonteCarlo", cursive;
  margin: 0;
  padding: 3vh;
  @media (min-width: 320px) and (max-width: 780px) {
    font-size: 5vh;
    display: flex;
    justify-content: center;
  }
}

.main {
  background: white;

  h3 {
    padding-left: 1rem;
  }
  // margin: 0rem;
  // padding: 1rem;
  // @media (min-width: 320px) and (max-width: 780px) {
  //   list-style: none;
  //   text-decoration: none;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 0 1rem;
  //   margin: 0 2rem;
  // }
}

.guest__links {
  @media (min-width: 320px) and (max-width: 780px) {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 780px) {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 0;
  }
}

.FAA {
  display: none;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: "Spectral SC", serif;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.redlinks:hover {
  font-weight: bolder;
}

.dresscode {
  @media (min-width: 320px) and (max-width: 780px) {
    background-image: url("../assets/dresscode.jpg");
    height: 10vh;
    margin: 0;
  }
}

table {
  font-family: "Spectral SC", serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
