@use "../styles/_global.scss" as *;
// body {
//   background-image: url("../assets/party/gallery/whitebackgound.jpeg");
//   color: black;
//   font-family: "Spectral SC", serif;
//   margin: 0;

//   @media (min-width: 780px) {
//     margin: 0 6rem;
//   }
// }

// a {
//   text-decoration: none;
//   background: none;
// }
// a:visited {
//   color: black;
// }

// a:hover {
//   color: rgba(173, 11, 11, 0.979);
// }

ul {
  padding: 0;
}

// .navbar {
//   @media (min-width: 320px) and(max-width:1440px) {
//     background-image: url("../assets/party/gallery/bannernew.jpg");
//     background-size: cover;
//     height: 5rem;
//     background-size: 30rem;
//     background-position: center;
//     background-repeat: no-repeat;
//     list-style: none;
//     text-decoration: none;
//     display: flex;
//     flex-wrap: wrap;
//     align-content: center;
//     align-items: center;
//     justify-content: center;
//     align-content: center;
//     font-size: 0.5rem;
//     margin: 0 2rem;
//     padding-top: 2rem;
//     background-color: white;
//   }

//   @media (min-width: 780px) {
//     background-image: url("../assets/party/gallery/bannernew.jpg");
//     background-size: cover;
//     background-size: 65vw;
//     background-position: center;
//     background-repeat: no-repeat;
//     list-style: none;
//     text-decoration: none;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     height: 25vh;
//   }
// }
// .navlinks {
//   font-size: 0.5rem;
//   margin: 0.25rem 0.5rem;
//   display: flex;

//   @media (min-width: 780px) {
//     margin: 2rem;
//   }
// }

.link {
  text-decoration: underline;
}

.question {
  font-weight: bolder;
}

.h2 {
  background: white;
  font-family: "MonteCarlo", cursive;
  margin: 0;
  padding: 3vh;
  @media (min-width: 320px) and (max-width: 780px) {
    font-size: 5vh;
    display: flex;
    justify-content: center;
  }
}

.main {
  background: white;
  margin: 0rem;
  padding: 1rem;
  @media (min-width: 320px) and (max-width: 780px) {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0 2rem;
  }
}

.guest__links {
  @media (min-width: 320px) and (max-width: 780px) {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 780px) {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 0;
  }
}

.FAA {
  display: none;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: "Spectral SC", serif;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.redlinks:hover {
  font-weight: bolder;
}

.dresscode {
  @media (min-width: 320px) and (max-width: 780px) {
    background-image: url("../assets/dresscode.jpg");
    height: 10vh;
    margin: 0;
  }
}

table {
  font-family: "Spectral SC", serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
