@use "../styles/_global.scss" as *;
@use "../styles/mixins" as *;

.main{
  background-color: white;
  padding:1rem;
}
.h2{
background: white;
font-family: "MonteCarlo", cursive;
margin: 0;
padding: 3vh;
font-size: 2.3rem;
text-align: center
}

table {
  font-family: "Spectral SC", serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border-bottom: 2px solid rgb(218, 218, 218);
  text-align: left;
  padding: 5px;

}

.date{
  font-size: 1rem;

  @include tablet{
  width: 30%;
  }
}
