body{
    background-image: url("../assets/party/gallery/whitebackgound.jpeg");  
    color:black;
    font-family: 'Spectral SC', serif;
    margin:0;   

    @media(min-width:780px){
        margin:0 6rem;
    }
   }

a{
    text-decoration: none;
    background: none;
}
a:visited {
    color: black;
  }
  
  a:hover {
    color: rgba(173, 11, 11, 0.979);
  }
  
  ul{
    padding: 0;
}

.navbar{

    @media(min-width:320px)and(max-width:1440px){
    background-image: url("../assets/party/gallery/bannernew.jpg");
    background-size: cover;
    height:5rem;
    background-size: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: .5rem;
    margin:0 2rem;
    padding-top: 2rem;
    background-color: white;}
  
    @media(min-width:780px){
        background-image: url("../assets/party/gallery/bannernew.jpg");
        background-size: cover;
        background-size: 65vw;
        background-position: center;
        background-repeat: no-repeat;
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 25vh;


    }

}
.navlinks{
    font-size: .5rem;
    margin:.25rem .5rem;
    display:flex;
    
    @media(min-width:780px){
        margin:2rem;
    }
}


.link{
  
    text-decoration: underline; 

}

.pic1{

    @media (min-width:320px) and (max-width:780px)
    {width: 80vw;
    display: flex;
    padding:0rem;
    }

    @media (min-width:780) and (max-width:1440px)
    {   display: flex;    
        padding:0rem;
    }
}

.pic2{
    
      width:80vw;
      padding:0rem;
      display: flex;
    
   
}

.p{

    @media (min-width:320px) and (max-width:780px)
    {background:white;
  
    display: flex;
    flex-direction: column;
    padding:1rem;
    align-content: flex-start;
    align-items: center;
    margin:0 2rem;
    font-size: 2vh;
    text-align: justify;

    }

    @media (min-width:780px) and (max-width:1440px){
        background-color: white ;
        margin:0rem;
        padding:1rem;
        display: flex;
        flex-direction: column;
        
    }

}

.h2{
    background:white;
    margin:0rem;
    padding:0rem;
    font-family: 'MonteCarlo', cursive; 
    display:flex;
    justify-content: center;
    font-size: 1.5rem;

    @media(min-width:320px)and(max-width:780px){
    margin:0 2rem;
    }
}

.address{

    @media (min-width:320px)and (max-width:780px){
    background:white;
    display:flex;
    flex-direction: column;
    margin:0 2rem; 
    padding:1rem 2rem;
    font-size: 2vh;

    }


    &__left{
        display: flex;
    align-items: center;
    justify-content: center;
        @media (min-width:780px) and (max-width:1440px){
            display:flex;
        
        }

    }
    &__right{
        padding:0rem;
    }
}

.address__actual{
  display:flex;
  flex-direction: column;
  margin:0rem; 
}



